header {
  height: 4em; }
  header .sapTntToolHeader.sapMTB {
    height: 4rem; }
  header .navContainerBlock {
    width: 100%;
    padding: 17px 5px; }
  header .navTitle {
    color: #ffffff !important;
    text-transform: uppercase;
    margin-left: 3vw !important; }
  header .navButton {
    color: #ffffff !important;
    font-size: 12px !important;
    height: 4.725em; }
    header .navButton > span {
      display: inline !important; }
      header .navButton > span .sapMBtnIcon {
        line-height: 1.5rem; }
      header .navButton > span > span {
        margin: 5px 7px; }
        header .navButton > span > span bdi {
          color: #FFFFFF; }
      header .navButton > span .sapUiIcon::before {
        font-size: 22px;
        color: #FFFFFF; }
  header .navNotification {
    margin-left: 3.725em;
    margin-bottom: 0.455em; }
    header .navNotification .sapUiIcon::before {
      background-color: #116464 !important;
      border-radius: 50%;
      padding: 12px 14px; }

.btn {
  font-size: 16px; }
  .btn__pill > span {
    background: #3F5161 !important;
    border-radius: 28px !important;
    color: #FFFFFF;
    padding: 5px 12px; }

.headerRequest {
  position: relative;
  font-family: Ubuntu;
  background: #CAE4FB; }
  .headerRequest__label {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 16px;
    font-weight: 500; }

.headerButton {
  position: relative;
  top: -25px; }
